@model IEnumerable<ROZKLAD.Models.DbEntities.Ocinka>

@{
    ViewBag.Title = "Оцінки";
    Layout = "~/Views/Shared/_SignOut.cshtml";
}

<h2>Оцінки</h2>

<p>
    Успішність студентів
</p>
<table class="table">
    <tr>
        <th>
            Дисципліна
        </th>
        <th>
            Викладач
        </th>
        <th>
            Студент
        </th>
        <th>
            Оцінка
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lessons.Subjects.NameSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lessons.Teachers.SureName) @Html.DisplayFor(modelItem => item.Lessons.Teachers.Name) @Html.DisplayFor(modelItem => item.Lessons.Teachers.Father)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Students.SureName) @Html.DisplayFor(modelItem => item.Students.Name) @Html.DisplayFor(modelItem => item.Students.Father)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mark)
        </td>
      
    </tr>
}

</table>
