@model ROZKLAD.Models.DbEntities.Lesson

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<h3>Видалити урок?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            День 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Days.Days)
        </dd>

        <dt>
            Дисципліна
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subjects.NameSubject)
        </dd>

        <dt>
            Викладач
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teachers.SureName) @Html.DisplayFor(model => model.Teachers.Name) @Html.DisplayFor(model => model.Teachers.Father)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
